 <header class="headSec">
      <h1>Lock Stock Photography</h1>
      
<head><title>Lock Stock Photography</title></head>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>


</style>
</head>
<body>

<div class="navbar" id="myTopnav">
   <%= link_to "Lock Stock Photography", '/', :class=>"navbar a" %>
        <%= link_to "Photo Catalogue", '/stockphotos' %>
    <%= link_to "About", '/about' %></li>
        <%= link_to "Contact Us", '/contactus' %>
       <% unless webdev_signed_in? %>
        <%= link_to "View Cart", "/cart" %>
        <% end %>
                 <% unless webdev_signed_in? || user_signed_in? %>
                
                 <%= link_to 'Admin Sign in', new_webdev_session_path %>
                    <%= link_to 'Register', new_user_registration_path %>
                 <%= link_to 'Sign in', new_user_session_path %>
          <% end %>
            
            <% if webdev_signed_in? %>
              <%= link_to 'Welcome Admin', edit_webdev_registration_path %>
              <%= link_to 'Admin Sign out', destroy_webdev_session_path, :method => :delete %>
              
          <% end %>
          
          
          <% if user_signed_in? %>
            <%= link_to 'View Orders', '/orders' %>
             <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
             <%= link_to 'Profile', edit_user_registration_path %></li>
             <a href="#">Hi <%= current_user.email %></a>
          <% end %>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>



    <div class="container">
    <%= yield %>
    </div>
<!DOCTYPE HTML>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>



</body>
</html>

  <br><br>
  <p id="demo"></p>
<script>
// Set the date we're counting down to
var countDownDate = new Date("Jun 1, 2019 00:00:01").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();
    
  // Find the distance between now and the count down date
  var distance = countDownDate - now;
    
  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
  // Output the result in an element with id="demo"
  document.getElementById("demo").innerHTML = "June Sale in " + days + ":" + hours + ":"
  + minutes + ":" + seconds;
    
  // If the count down is over, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>
<footer class="foot">
<h2>Lock Stock Photography</h2>
<h5>Lock stock photography is a trademark, registered to the Irish Copyright authority (c) 2019</h5>
</footer>


 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  


</html>
<%= csrf_meta_tags %>