<h2>You Searched Our Product Catalog For <%= @search_term %></h2>

<% if @stockphotos.length == 0  %>
<br />
<h2>No products were found to match your search</h2>
<% end %>


<table class="catalog">
  <% @stockphotos.each do |stockphoto| %>
      <tr>
        <td>
          <div class="image">
            <%= link_to (image_tag stockphoto.image_url, :style => "height:100px"), stockphoto %>
          </div>
          <div class="title">
            <%= link_to stockphoto.title, stockphoto %>
          </div>
          <div class="description">
            <%= stockphoto.description %>
          </div>  
          <div class="price">
             <%= number_to_currency(stockphoto.price, :unit => "€") %>
          </div>
          <div class="links">
            <% if user_signed_in? %>
              <%= link_to 'Edit', edit_stockphoto_path(stockphoto) %>
              <%= link_to 'Destroy', stockphoto, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%else%>
            
              <a href="/cart/<%= stockphoto.id %>">Add to Cart</a>
            <%end%>  
        </div>
        </td>
      </tr>
    <% end %>
</table>
